.create-lead {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fffde0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-lead h2 {
  text-align: center;
  color: #333;
}

form div {
  margin-bottom: 15px;
}

label {
  width: 30rem;
  display: block;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1eb700;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #03b506;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}
p.error {
  color: red;
  text-align: center;
}

p.success {
  color: green;
}

.create-lead div {
  margin-bottom: 10px;
}

.create-lead label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.create-lead input,
.create-lead select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-lead input[type="radio"],
.create-lead input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}